{% extends "layout.html" %}

{% block title %} | {{ post.title}}{% endblock %}

{% block body %}

  <h1>{{ post.title }}</h1>
  <p>
    Posted By: {{ post.author|title }} | Published: {{ post.post_date }}
  </p><hr>
  <p>{{ post.body }}</p>

  <div>
    <a href="{% url 'update_post' post.id %}" class="btn btn-dark">Edit post</a>
    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
  </div>
  
  <br>

  <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>

{% endblock %}
